

.title {

    Text-align: center;
    color: white;
    font-weight: bolder;

}


.img {
    align-items: center;
    border: 5px solid #555;
}

.text {
    border: 3px solid #555;
    margin-left: 30px;
    margin-right: 30px;
    background-color:rgb(49, 46, 46);
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

}

.button2 {
    color:rgb(226, 226, 240);
    font-size: bolder;
    background-color: rgb(19, 33, 231);
    border: 3px solid rgb(49, 46, 46);
    font-size: 25px;
    opacity: .75;
    font-weight: bolder;
    
}